<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="../script/main.js"></script>
    <title>Szafta Temetkezes</title>
</head>

<body>
    <nav class="header">
        <div class="navbar">
            <!-- logo -->
            <div class="logo">
                <a href="#">Szafta</a>
                <!-- <div class="slogan">
                    Mi a bajban <span>Ön</span> mellett állunk!
                </div> -->
            </div>

            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>

            <!-- navigation items -->
            <div class="nav-items">
                <ul>
                    <li>Szolgáltatások</li>
                    <li>Koporsók</li>
                    <li>Sírkövek</li>
                    <li class="btn">Vegye fel velünk a kapcsolatot!</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- mobile navigation -->
    <div class="mobile-nav">
        <div class="mobile-nav-items">
            <ul>
                <li>Szolgáltatások</li>
                <li>Koporsók</li>
                <li>Sírkövek</li>
                <li class="btn">Vegye fel velünk a kapcsolatot!</li>
            </ul>
        </div>
    </div>

</body>

</html>